<div class="container__big-card">
  <div class="big-card__image">
    <img src="https://picsum.photos/380" alt="" srcset="" />
  </div>
  <div class="big-card__title">
    <h2><a href="#">Saiu nova versão do Angular</a></h2>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cum
        consectetur expedita mollitia assumenda itaque saepe in possimus neque
        veniam distinctio exercitationem sit est obcaecati, adipisci nostrum
        eius, doloremque explicabo.
      </a>
    </p>
  </div>
</div>
